* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #c93ef3, #abcbd4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/image/sea-2561397_640.webp);
    background-size: cover;
    
}

.login-container {
    
    background: linear-gradient(135deg, #abcbd4, #6c63ff)
    border-radius\: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    /* max-width: 400px; */
}
.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    /* margin-bottom: 15px; */
    background-color: white;
    width: 100%;
    border-radius: 30px;
    padding: 30px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: bold;
    justify-content: center;
    
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.input-group input:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 0 4px rgba(108, 99, 255, 0.5);
}

.homepage {
    margin-left: 25%;
    width: 50%;
    padding: 0.8rem;
    /* background: #db0510; */
    background-color: #391ed4;
    font-size: 1rem;
    border: #333;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
   
}

.homepage a{
    text-decoration: none;
    color: white;
    

}

   


.homepage:hover {
    background: #690864;
}

.signup-link {
    
   
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}

.signup-link a {
   
  
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: first baselines;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}
.head {
    display: flex;
    margin: auto;
    padding: auto;
    background-color: antiquewhite;
    text-align: center;
}
.img {
    margin: 100%;
    
}

.elder{
    display:flex;
    padding: 10px;
    margin-top: 10px;
}


